{% extends 'themes/base_admin.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block description %}Panneau d'administration de Green Gardians{% endblock %}

{% block keywords %}Admin, Administration{% endblock %}

{% block main %}
        
        <h2 class="text-center m-5">Panneau d'administration</h2>

        <div class="text-center m-3">
            Bonjour, Administrateur !
        </div>
        
{% endblock %} 