{% extends 'themes/base_admin.html.twig' %}

{% block title %}Modification d'un tag{% endblock %}

{% block description %}Modification d'un tag de Green Guardians{% endblock %}

{% block keywords %}Admin, Administration, Tag{% endblock %}

{% block main %}

    <h2 class="text-center m-5">Modification d'un tag</h2>
    <div class="container">

        {{ form_start(formTag) }}

            <div class="mb-3">
                <label for="">Nom du tag<strong class="text-danger">*</strong></label>
                <div class="text-danger">{{ form_errors(formTag.name) }}</div>
                {{ form_widget(formTag.name, {"attr": {"class":"form-control", "autofocus":"autofocus"}})}}
            </div>

            <div class="mb-3">
                <input formnovalidate type="submit" class="btn btn-success shadow w-100" value="Modifier le tag">
            </div> 

        {{ form_end(formTag) }}

    </div>


{% endblock %} 