{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Profil{% endblock %}

{% block description %}Page profil {{app.user.email}} de Green Gardians{% endblock %}

{% block keywords %}Acceuil, Home, Welcome{% endblock %}

{% block main %}
    <div class="h-100 d-flex flex-column justify-content-center d">

        <h2 class="text-center m-5">Mes projects</h2>
        <h2 class="text-center m-5">Les projects rejoint</h2>

    </div>
{% endblock %}