                    <!-- Modal -->
                    <div class="modal fade " id="politique" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-body text-black text-start p-5">
                                    <h3 class="text-center mb-5 text-green">Politique de Confidentialité de Green Gardiens</h3>
                                    <p>Dernière mise à jour : [Date]</p>
                                    <p>
                                        Chez Green Gardiens, nous prenons très au sérieux la confidentialité de vos informations personnelles. Cette Politique de confidentialité décrit comment nous recueillons, utilisons et protégeons vos données lorsque vous visitez notre site web https://www.greengardiens.com (le "Site").
                                    </p>

                                    <h4 class="mb-3 mt-5">1. Collecte des Informations</h4>

                                    <p>
                                        Nous collectons différentes informations lorsque vous utilisez notre Site, notamment :
                                    </p>

                                    <ul>
                                        <li>
                                            <span class="font-weight-bold">Informations fournies par les utilisateurs :</span> Nom, adresse e-mail, numéro de téléphone, adresse postale, etc., que vous nous fournissez volontairement via des formulaires ou des inscriptions sur le Site.
                                        </li>
                                        <li>
                                            <span class="font-weight-bold">Données de navigation :</span> Informations sur votre visite sur notre Site, telles que votre adresse IP, le type de navigateur, les pages visitées, l’heure et la durée de votre visite.
                                        </li>
                                    </ul>

                                    <h4 class="my-3 mt-5">2. Utilisation des Informations</h4>

                                    <p>
                                        Les informations collectées peuvent être utilisées pour :
                                    </p>

                                    <ul>
                                        <li>Fournir et améliorer nos services.</li>
                                        <li>
                                            Personnaliser votre expérience sur notre Site.
                                        </li>
                                        <li>
                                            Vous envoyer des informations promotionnelles, des mises à jour et des offres spéciales.
                                        </li>
                                        <li>
                                            Répondre à vos demandes et questions.
                                        </li>
                                        <li>
                                            Analyser l’utilisation du Site pour améliorer notre contenu et nos services.
                                        </li>
                                    </ul>

                                    <h4 class="my-3 mt-5">3. Partage des Informations</h4>

                                    <p>
                                        Nous ne vendons, n'échangeons, ni ne transférons vos informations personnelles à des tiers sans votre consentement, sauf dans les cas suivants :
                                    </p>

                                    <p>
                                        Avec des prestataires de services de confiance qui nous aident à exploiter notre Site et à mener nos activités, tant que ces parties conviennent de garder ces informations confidentielles.
                                    </p>

                                    <p>
                                        Si requis par la loi ou pour protéger nos droits, notre propriété, ou la sécurité de Green Gardiens, de nos utilisateurs ou du public.
                                    </p>

                                    <h4 class="my-3 mt-5">4. Sécurité des Données</h4>

                                    <p>
                                        Nous mettons en œuvre des mesures de sécurité pour protéger vos informations personnelles. Cependant, aucune méthode de transmission sur Internet ou de stockage électronique n'est sécurisée à 100 %, et nous ne pouvons garantir une sécurité absolue.
                                    </p>

                                    <h4 class="my-3 mt-5">5. Cookies</h4>

                                    <p>
                                        Notre Site utilise des cookies pour améliorer votre expérience utilisateur. Les cookies sont de petits fichiers texte placés sur votre appareil pour recueillir des informations standard de journal Internet et des informations sur le comportement des visiteurs. Vous pouvez configurer votre navigateur pour refuser les cookies, mais certaines fonctionnalités de notre Site peuvent ne pas fonctionner correctement sans eux.
                                    </p>

                                    <h4 class="my-3 mt-5">6. Liens vers des Sites Tiers</h4>

                                    <p>
                                        Notre Site peut contenir des liens vers des sites tiers. Nous ne sommes pas responsables des pratiques de confidentialité ou du contenu de ces sites externes. Nous vous encourageons à lire les politiques de confidentialité de chaque site que vous visitez.
                                    </p>

                                    <h4 class="my-3 mt-5">7. Vos Droits</h4>

                                    <p>Conformément à la législation applicable, vous pouvez avoir le droit de :</p>

                                    <ul>
                                        <li>Accéder à vos données personnelles.</li>
                                        <li>Demander la correction ou la suppression de vos informations.</li>
                                        <li>Opposer au traitement de vos données.</li>
                                    </ul>

                                    <p>Pour exercer ces droits, veuillez nous contacter à [email@example.com].</p>

                                    <h4 class="my-3 mt-5">8. Modifications de la Politique de Confidentialité</h4>

                                    <p>
                                        Nous pouvons mettre à jour cette Politique de confidentialité de temps à autre. Nous publierons les modifications sur cette page et mettrons à jour la date de "Dernière mise à jour" ci-dessus.
                                    </p>

                                    <h4 class="my-3 mt-5">9. Contactez-nous</h4>

                                    <p>Pour toute question concernant cette Politique de confidentialité, vous pouvez nous contacter à :</p>
                                    <p>Green Gardiens</p>
                                    <p>[Adresse]</p>
                                    <p>[Numéro de téléphone]</p>
                                    <p>[Email]</p>

                                    <div class="text-end">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>