                    <!-- Modal -->
                    <div class="modal fade " id="mentions" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-body text-black text-start p-5">
                                    <h3 class="text-center mb-5 text-green">Mentions Légales de Green Guardiens</h3>
                                    <p>Dernière mise à jour : 09.07.2024</p>

                                    <h4 class="mb-3 mt-5">1. Informations Légales</h4>

                                    <p>Le site internet <a href="https://green-guardians.fr">www.green-guardians.fr</a> est édité par :</p>
                                    <p>Green Guardiens</p>
                                    <p>Numéro de téléphone : 01 23 45 67 89</p>
                                    <p>Email : <a href="mailto:contact@green-guardians.fr">contact@green-guardians.fr</a></p>
                                    <p>Numéro de SIRET : Aucun</p>
                                    <p>Directeur de la publication : Renaud Redron</p>

                                    <h4 class="mb-3 mt-5">2. Hébergement</h4>

                                    <p>Le site est hébergé par :</p>
                                    <p><a href="https://www.hostinger.fr/">Hostinger</a></p>
                                    <p>Kaunas, Lituanie | Hostinger, UAB | Jonavos g. 60C, 44192</p>
                                    
                                    <h4 class="mb-3 mt-5">3. Propriété Intellectuelle</h4>

                                    <p>
                                        L'ensemble du contenu du Site, incluant, de manière non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de Green Guardiens, à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
                                    </p>
                                    <p>
                                        Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Green Guardiens. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur.
                                    </p>

                                    <h4 class="mb-3 mt-5">4. Collecte de Données Personnelles</h4>

                                    <p>
                                        Green Guardiens peut collecter des données personnelles vous concernant. Pour plus d'informations sur la manière dont nous traitons ces données, veuillez consulter notre Politique de confidentialité.
                                    </p>

                                    <p>
                                        Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Vous pouvez exercer ce droit en nous contactant à l'adresse suivante : <a href="mailto:contact@green-guardians.fr">contact@green-guardians.fr</a>.
                                    </p>

                                    <h4 class="mb-3 mt-5">5. Cookies</h4>

                                    <p>
                                        Le Site peut utiliser des cookies pour améliorer l'expérience de navigation des utilisateurs. Pour en savoir plus sur l'utilisation des cookies, veuillez consulter notre Politique de confidentialité.
                                    </p>

                                    <h4 class="mb-3 mt-5">6. Limitation de Responsabilité</h4>

                                    <p>
                                        Green Guardiens s'efforce de fournir sur le Site des informations aussi précises que possible. Cependant, il ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu'elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
                                    </p>

                                    <p>
                                        Toutes les informations indiquées sur le Site sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le Site ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.
                                    </p>

                                    <h4 class="mb-3 mt-5">7. Liens Hypertextes</h4>

                                    <p>
                                        Le Site peut contenir des liens hypertextes vers d'autres sites présents sur le réseau Internet. Green Guardiens ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet et ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Green Guardiens ne peut être tenu pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes.
                                    </p>

                                    <h4 class="mb-3 mt-5">8. Droit Applicable</h4>

                                    <p>
                                        Les présentes conditions du Site sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège de Green Guardiens.
                                    </p>

                                    <h4 class="mb-3 mt-5">9. Contact</h4>

                                    <p>
                                        Pour toute question, information sur les produits présentés sur le Site, ou concernant le Site lui-même, vous pouvez laisser un message à l'adresse suivante : <a href="mailto:contact@green-guardians.fr">contact@green-guardians.fr</a>.
                                    </p>

                                    <div class="text-end">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>